# Ignore node_modules as they will be installed inside the container
node_modules

# Ignore local environment files
.env
.env.local
.env.*

# Ignore build output
.next

# Ignore any logs
logs
*.log

# Ignore pnpm store
.pnpm-store

# Ignore miscellaneous files
.DS_Store

# Ignore git files
.git
.gitignore

# Ignore vscode settings
.vscode

# Ignore Dockerfile and docker-compose.yml
Dockerfile
docker-compose.yml

# Ignore other configuration files
*.tsbuildinfo

npm-debug.log
yarn-error.log
pnpm-debug.log